<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="it.rainbowbreeze.smsforfree.test"
	android:versionCode="1"
	android:versionName="1.0">

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name"
	>
    	<uses-library android:name="android.test.runner" />
    </application>

    <uses-sdk android:minSdkVersion="4" />
    
    <!-- Cannot use a direct link to core project because it's a library
         so the apk is not created and the instrumentation test needs this
         apk in order to work :( -->
    <instrumentation
    	android:targetPackage="it.rainbowbreeze.smsforfree"
    	android:name="android.test.InstrumentationTestRunner"
   	/>
</manifest> 