<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="it.rainbowbreeze.smsforfree"
	android:versionCode="1"
	android:versionName="1.0"
>
    <application
    	android:icon="@drawable/icon"
    	android:label="@string/common_appname"
   	>
        <activity
        	android:name=".ui.ActSendSms"
        	android:label="@string/actsendsms_title"
       	>
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
        	android:name=".ui.ActSettingsMain"
        	android:label="@string/actsettingsmain_title"
       	/>

        <activity
        	android:name=".ui.ActSettingsSmsService"
        	android:label="@string/actsettingssmsservice_title"
       	/>
       	
        <activity
        	android:name=".ui.ActProvidersList"
        	android:label="@string/actproviderslist_title"
       	/>
       	
        <activity
        	android:name=".ui.ActTemplatesList"
        	android:label="@string/acttemplateslist_title"
       	/>
       	
        <activity
        	android:name=".ui.ActSubservicesList"
        	android:label="@string/actsubserviceslist_title"
       	/>
       	
        <activity
        	android:name=".ui.ActAbout"
        	android:label="@string/actabout_title"
       	/>
       	
        <activity
        	android:name=".ui.ActCompactMessage"
        	android:label="@string/actcompactmessage_title"
       	/>
       	
    </application>
    
	<!-- API support: min 1.6, target 2.0 -->
    <uses-sdk
    	android:minSdkVersion="4"
    	android:targetSdkVersion="5"
	/>     

	<!-- Internet access -->
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest> 