<?xml version="1.0" encoding="utf-8"?>
<!--  
 Copyright (C) 2010 Alfredo Morresi
 This file is part of SmsForFree project.
   
 This program is free software; you can redistribute it and/or modify it under
 the terms of the GNU General Public License as published by the Free Software
 Foundation; either version 3 of the License, or (at your option) any later
 version.
   
 This program is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 details.
 
 You should have received a copy of the GNU General Public License along with
 this program; If not, see <http://www.gnu.org/licenses/>.
 -->

<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="it.rainbowbreeze.jacksms"
    android:versionName="2.1"
    android:versionCode="19"
	android:installLocation="auto"
>
    <application
    	android:icon="@drawable/ic_launcher_smsforfree"
    	android:label="@string/common_appName"
    	android:name="it.rainbowbreeze.smsforfree.common.MyApplication"
   	>
   		<!-- Defines also the app name in the Android menu -->
        <activity
            android:name="it.rainbowbreeze.smsforfree.ui.ActSplashScreen"
            android:label="@string/common_appName"
        >
            <!-- Starting activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Send message to someone -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
        
            <!-- Sends text -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter> 
        </activity>

        <activity
            android:name="it.rainbowbreeze.smsforfree.ui.ActSendSms"
            android:label="@string/common_appName"
        />
        
        <activity
            android:name="it.rainbowbreeze.smsforfree.ui.ActSettingsMain"
            android:label="@string/common_appNameForDisplay"
        />

        <activity
        	android:name="it.rainbowbreeze.smsforfree.ui.ActSettingsSmsService"
        	android:label="@string/common_appNameForDisplay"
       	/>
       	
        <activity
        	android:name="it.rainbowbreeze.smsforfree.ui.ActProvidersList"
        	android:label="@string/common_appNameForDisplay"
       	/>
       	
        <activity
        	android:name="it.rainbowbreeze.smsforfree.ui.ActTemplatesList"
        	android:label="@string/common_appNameForDisplay"
       	/>
       	
        <activity
        	android:name="it.rainbowbreeze.smsforfree.ui.ActSubservicesList"
        	android:label="@string/common_appNameForDisplay"
       	/>
       	
        <activity
        	android:name="it.rainbowbreeze.smsforfree.ui.ActAbout"
        	android:label="@string/common_appNameForDisplay"
       	/>
       	
        <activity
        	android:name="it.rainbowbreeze.smsforfree.ui.ActCompactMessage"
        	android:label="@string/common_appNameForDisplay"
       	/>
       	
        <activity
        	android:name="it.rainbowbreeze.smsforfree.ui.ActMessageTemplates"
        	android:label="@string/common_appNameForDisplay"
       	/>
       	
		<!-- The application's publisher ID assigned by AdMob -->
		<meta-data android:value="a14c28c5ac8b719" android:name="ADMOB_PUBLISHER_ID" />
		
    </application>
    
	<!-- API support: min 1.6, target 2.0 -->
    <uses-sdk
    	android:minSdkVersion="4"
    	android:targetSdkVersion="5"
	/>     

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest> 